@import "src/prebuild/scss/variables";

.root {
  height: fit-content;

  padding: 10px 0;

  border-radius: 4px;

  background-color: $color-white;

  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  &__header {
    display: inline-block;
    margin: 10px 20px;
  }
}

.active {
  background-color: $color-point;
}
